
.label {
    margin-right: 5px;
    margin-bottom: 5px !important;
    display: inline-block;
}

#wrapper {
    position: relative;
}

.panel-default > .panel-heading {
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.label {
    margin-right: 5px;
    margin-bottom: 5px !important;
    display: inline-block;
}

#wrapper {
    position: relative;
}

.tab-content {
    margin-top: 20px;
}

.text-circle-small {
    background: #e8ebed;
    border-radius: 200px;
    color: #4a4a4a;
    height: 30px;
    /*font-weight: bold;*/
    width: 30px;
    margin: 5px auto;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    padding: 9px;
    font-weight: bold;
}

.text-primary-color {
    color: #b8c7ce;
}


.btn-abc-bank-me {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    color: #fff;
}

.btn-abc-bank-me:hover,
.btn-abc-bank-me:active,
.btn-abc-bank-me.hover {
    background-color: #385161;
    color: #fff;
}

body {
    font-family: 'Nunito', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Nunito,Source Sans Pro', sans-serif;
}

.btn {
    font-weight: 600;
}

.dropdown-menu > li > a {
    font-weight: 600;
}

.main-header .logo {
    font-family: 'Nunito', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 100px;
    }
}

.btn-primary {
    background-color: #467fcf;
    border-color: #436bb8;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background-color: #436bb8;
    color: #fff;
}


.skin-black-light .sidebar-menu > li:hover > a, .skin-black-light .sidebar-menu > li.active > a {
    color: #467fcf;
    background: #f4f4f5;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

.skin-black-light .main-header .navbar .navbar-nav > li > a {
    border-right: none;
}

.skin-black-light .main-header {
    -webkit-box-shadow: none;
}

.header-border-bottom {
    border-bottom: 1px solid #cbcbcb !important;
}

.dataTables_info {
    display: none;
}

.dataTables_length {
    display: none;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ecf0f5;
}

.paginate_button.current {
    border: 1px solid #467fcf !important;
    background: linear-gradient(to bottom, #467fcf 0%, #467fcf 100%) !important;
    color: #fff !important;
}

.paginate_button:hover{
    border: 1px solid #467fcf !important;
    background: linear-gradient(to bottom, #467fcf 0%, #467fcf 100%) !important;
    color: #fff !important;
}


table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #ecf0f5;
}

.skin-black-light .main-header .navbar .nav>li>a:hover, .skin-black-light .main-header .navbar .nav>li>a:active, .skin-black-light .main-header .navbar .nav>li>a:focus, .skin-black-light .main-header .navbar .nav .open>a, .skin-black-light .main-header .navbar .nav .open>a:hover, .skin-black-light .main-header .navbar .nav .open>a:focus, .skin-black-light .main-header .navbar .nav>.active>a {
    color: #467fcf;
}